.CompanyItems {
    display: flex;
    flex-direction: row;
}

#MenuBar input {
    max-width: 90%;
    height: 80%;
    margin-top: 1.5vh;
}

#TechCodeLogo {
    border-radius: 25px;
    border: none;
    max-width: 90%;
    height: auto;
    margin-top: 1.5vh;
}

#LoginButton {
    border: none;
    background-color: transparent;
    width: 90%;
    text-decoration: none;
    transition: all 0.5s;
    cursor: pointer;
    color: black;
    font-size: 25px;
    border-radius: 25px;
}

#LoginButton:hover {
    background-color: blue;
    color: white
}

#LoginButtonspan {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
