.CompanyItems {
    display: flex;
    flex-direction: row;
    flex-grow: 2;
}

.AccountItems {
    flex-grow: 2;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#MenuBar input {
    max-width: 90%;
    height: 80%;
    margin-top: 1.5vh;
}

#TechCodeLogo {
    border-radius: 25px;
    border: none;
    max-width: 90%;
    height: auto;
    margin-top: 1.5vh;
}

#LoginButton {
    border: none;
    background-color: transparent;
    width: 20%;
    text-decoration: none;
    text-align: right;
    transition: all 0.5s;
    cursor: pointer;
    color: black;
    font-size: 16pt;
    border-radius: 25px;
}

#LoginButton[data-status="LoginButton"]:hover {
    background-color: #ddd;
    color: black;
}

#LoginButton[data-status="LogoutButton"]:hover {
    background-color: red;
    color: white;
}

#RankingIcon {
    width: 2%;
}