.WorkerDashboardGUI {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.LeftGUI {
    width: 60%;
}

.RightGUI {
    margin-top: 1%;
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#AccountsTable{
    width: 100%;
}

#AccountsTable th {
    text-align: left;
}

.AccountInformation, .UsefullLinks, .CustomerGUI {
    background-color: white;
    border-radius: 25px;
}

.AccountInformation {
    margin-top: 5vh;
}

.AccountInformation button {
    width: 25%;
    margin-left: 37.5%;
}