<?xml version="1.0" encoding="UTF-8" ?>
<phpunit bootstrap="vendor/autoload.php" colors="true" stopOnFailure="false">
    <testsuites>
        <testsuite name="Calculator">
            <file>test/CalculatorTest.php</file>
        </testsuite>
        <testsuite name="ServerLogin">
            <file>test/ServerLoginTest.php</file>
        </testsuite>
        <testsuite name="ServerCreate">
            <file>test/ServerCreateTest.php</file>
        </testsuite>
        <testsuite name="ServerRole">
            <file>test/ServerRoleTest.php</file>
        </testsuite>
        <testsuite name="ServerTermination">
            <file>test/ServerTermination.php</file>
        </testsuite>
    </testsuites>
    <php>
        <ini name="display_errors" value="On" />
        <ini name="display_startup_errors" value="On" />
    </php>
</phpunit>