@keyframes mymove {
    0%, 100% {background-color: blue;}
    50% {background-color: rgb(255, 0, 132);}
}

#Screen {
    width: 100vw;
    height: 100vh;
}

.LoginGUI {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: mymove 10s infinite;
}

.ItemHolderLogin {
    background-color: white;
    border-radius: 25px;
    visibility: visible;
    text-align: center;
}

.LoginHub {
    max-width: 100vw;
    height: 100vh;
    position: fixed;
    visibility: hidden;
    overflow-y: auto;
}

.LoginHub input {
    width: 60%;
    border: none;
    border-bottom: 2px solid black;
}

#CreationButton {
    border: none;
    background-color: transparent;
    text-decoration: none;
    transition: all 0.5s;
    cursor: pointer;
    color: black;
    font-size: 14pt;
    border-radius: 25px;
}

#SystemLoginButton {
    border: none;
    background-color: transparent;
    width: 90%;
    text-decoration: none;
    transition: all 0.5s;
    cursor: pointer;
    color: black;
    font-size: 16pt;
    border-radius: 25px;
}

#SystemLoginButton:hover, #CreationButton:hover {
    background-color: blue;
    color: white
}