@keyframes scroll {
    to {
        transform: translate(calc(-50% - 3.75rem));
    }
}

@keyframes arrow-load {
    0% {
        opacity: 0;
        transform: rotate(135deg) translate(60px,60px);
    }
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(135deg) translate(-60px,-60px);
    }
}

.ScreenItem{
    color: white;
    border-radius: 25px;
    padding: 0.5%;
    margin-top: 2.5vh;
    position: relative;
}

#PortofolioButton{
    width: 25%;
}

.QuickMenuButton{
    border: 2px solid white;
    background-color: white;
    color: black;
    font-size: 16pt;;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.QuickMenuButton:hover {
    background-color: black;
    color: white;
}

.arrows-body {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 60px;
}

.arrow {
    position: relative;
    width: 35px;
    height: 35px;
    margin-top: 10px;
    border-top: 12px solid white;
    border-left: 12px solid white;
    transform: rotate(135deg);
    animation: arrow-load 2s infinite;
}

.arrow:nth-child(1){
    left: 25px;
}

.arrow:nth-child(2){
    animation-delay: -0.2s;
}

.arrow:nth-child(3){
    right: 25px;
    animation-delay: -0.4s;
}

#TechCode_Introduction {
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.LineItem {
    display: flex;
    flex-direction: row;
}

.LeftSideWelcome {
    width: 70%;
}

.RightSideWelcome {
    width: 25%;
}

#JipVossImage {
    height: 100%;
}

#LatestProduct {
    width: 100%;
    text-align: right;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.LeftSideLatestProject {
    width: 50%;
}

#InnerLanguageBox {
    text-align: center;
    background-color: white;
    color: black;
}

.LanguageImage {
    margin: 1%;
    width: 18%;
}

.LanguagesToImage {
    width: 60%;
    background-color: darkgray;
}

.ContactBoxHome {
    text-align: center;
    border-radius: 25px;
    background-color: white;
    color: black;
    width: 60%;
    height: 40%;
    margin-right: 20%;
}

.SocialLoaderHome {
    margin: 1%;
    border-radius: 25%;
    width: 32%;
}

.RightSideLatestProject {
    width: 45%;
}

#LatestProjectButton {
    width: 50%;
    margin-left: 50%;
}

#PreviewImage {
    border: 2px solid white;
    width: 100%;
}

.Companies {
    max-width: 100%;
    max-height: 12.5vh;
}

.CompanyLogo {
    height: 7.5vh;
    max-height: fit-content;
    object-fit: contain;
}

.Companies__inner {
    padding-block: 1rem;
    gap: 7.5rem;
    display: flex;
    flex-direction: row;
    color: black;
}

.Companies[data-animated=true]{
    overflow: hidden;
    mask: linear-gradient(90deg, transparent, white 20%, black 80%, transparent);
}

.Companies[data-animated=true] .Companies__inner{
    width: max-content;
    flex-wrap: nowrap;
    animation: scroll var(--_animation-duration, 60s) var(--animation-direction, forwards) linear infinite;
}

.Companies[data-direction="right"]{
    --animation-direction: reverse;
}

.Companies[data-direction="left"]{
    --animation-direction: forwards;
}

#TechCodeLogoInput{
    border-radius: 25px;
}