@keyframes scroll {
    to {
        transform: translate(calc(-50% - 3.75rem));
    }
}

.ScreenItem{
    background-color: white;
    border-radius: 25px;
    text-align: center;
    padding: 0.5%;
    margin-top: 2.5vh;
    position: relative;
}

.LineItem {
    display: flex;
    flex-direction: row;
}

#LatestProduct {
    width: 100%;
}

#PreviewImage {
    border: 2px solid black;
    border-radius: 25px;
    width: 80%;
}

.Companies {
    max-width: 100%;
    max-height: 12.5vh;
}

.CompanyLogo {
    height: 7.5vh;
    max-height: fit-content;
    object-fit: contain;
}

.Companies__inner {
    padding-block: 1rem;
    gap: 7.5rem;
    display: flex;
    flex-direction: row;
    color: white;
}

.Companies[data-animated=true]{
    overflow: hidden;
    mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.Companies[data-animated=true] .Companies__inner{
    width: max-content;
    flex-wrap: nowrap;
    animation: scroll var(--_animation-duration, 60s) var(--animation-direction, forwards) linear infinite;
}

.Companies[data-direction="right"]{
    --animation-direction: reverse;
}

.Companies[data-direction="left"]{
    --animation-direction: forwards;
}

#TechCodeLogoInput{
    border-radius: 25px;
}