@font-face {
    font-family: Micro5-Regular;
    src: url("./components/Fonts/Micro5-Regular.ttf") format("truetype");
}

@font-face {
    font-family: DancingFont;
    src: url("./components/Fonts/DancingScript-VariableFont_wght.ttf") format("truetype");
}

@font-face {
    font-family: Garamond-Regular;
    src: url("./components/Fonts/EBGaramond-VariableFont_wght.ttf") format("truetype");
}

@font-face {
    font-family: Garamond-Italic;
    src: url("./components/Fonts/EBGaramond-Italic-VariableFont_wght.ttf") format("truetype");
}

@font-face {
    font-family: Madimi-Regular;
    src: url("./components/Fonts/MadimiRegular.ttf") format("truetype");
}

@font-face {
    font-family: Lora;
    src: url("./components/Fonts/Lora-VariableFont_wght.ttf") format("truetype");
}

body {
    font-family: "Lora", sans-serif;
    font-size: 14pt;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-size: contain;
    background-color: black;
}

body button {
    font-family: "Lora", sans-serif;
}

.MainScreen {
    width: 98vw;
    height: 85vh;
    margin-top: 15vh;
    padding: 1% 1% 1% 1%;
    position: fixed;
    overflow-y: auto;
    overflow-x: hidden;
}

#MenuBar {
    background-color: white;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    width: 99vw;
    height: 15vh;
    padding: 0.5%;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Title {
    font-size: 22pt;
}

.SubTitle {
    font-size: 16pt;
}

.Button {
    font-size: 16pt;
}

#HomePage {
    visibility: visible;
}